<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cost Prices for Item [ {{$ctrl.item.name}} ]</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Cost Price</th>
                <th>Vendor</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="costPriceInfo in $ctrl.costPrices">
                <td>{{costPriceInfo.purchase.date |  date:'mediumDate'}}</td>
                <td>{{costPriceInfo.price}}</td>
                <td>{{costPriceInfo.vendor && costPriceInfo.vendor.name}}</td>
                <td><a class="btn btn-info" ui-sref="purchases.detail({id: costPriceInfo.purchase.id})" target="_blank">View Purchase Invoice</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
