<div>
    <h2 translate="autopos.payment.home.title">Payments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="payment.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="autopos.payment.home.createLabel">
                        Create new Payment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="date"><span translate="autopos.payment.date">Date</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="amount"><span translate="autopos.payment.amount">Amount</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="receiptNumber"><span translate="autopos.payment.receiptNumber">ReceiptNumber</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="paidBy"><span translate="autopos.payment.paidBy">PaidBy</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="remarks"><span translate="autopos.payment.remarks">Remarks</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="paidTo.name"><span translate="autopos.payment.paidTo">paidTo</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="payment in vm.payments track by payment.id">
                <td>{{payment.date | date:'mediumDate'}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.receiptNumber}}</td>
                <td>{{payment.paidBy}}</td>
                <td>{{payment.remarks}}</td>
                <td>
                    <a ui-sref="vendor-detail({id:payment.paidTo.id})">{{payment.paidTo.name}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="payment-detail({id:payment.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="payment.edit({id:payment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="payment.delete({id:payment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
