
<div *ngIf="vehicle">
    <h2><span jhiTranslate="autoPosApp.vehicle.detail.title">Vehicle</span> {{vehicle.id}}</h2>
    <hr>
    <apos-alert-error></apos-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="autoPosApp.vehicle.number">Number</span></dt>
        <dd>
            <span>{{vehicle.number}}</span>
        </dd>
        <dt><span jhiTranslate="autoPosApp.vehicle.remarks">Remarks</span></dt>
        <dd>
            <span>{{vehicle.remarks}}</span>
        </dd>
        <dt><span jhiTranslate="autoPosApp.vehicle.owner">Owner</span></dt>
        <dd>
            <div *ngIf="vehicle.owner">
                <a [routerLink]="['/customer', vehicle.owner?.id]">{{vehicle.owner?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
