<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Purchase Entry</h3>
    </div>
    <div class="panel-body">
        <form name="editForm" novalidate show-validation ng-submit="$ctrl.acceptPurchaseLine()">

            <div class="form-group">
                <label class="control-label" translate="autopos.purchaseLine.item">Item</label>
                <item-select
                        api="$ctrl.itemSelectApi"
                        on-select="$ctrl.itemSelected(item)">
                </item-select>
            </div>

            <div class="form-group">
                <label class="control-label" translate="autopos.purchaseLine.quantity" for="field_quantity">Quantity</label>
                <input type="number" class="form-control" name="quantity" id="field_quantity"
                       ng-model="$ctrl.purchaseLine.quantity"
                       required min="1"/>
                <div ng-show="editForm.quantity.$invalid">
                    <p class="help-block"
                       ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.quantity.$error.min" translate="entity.validation.min" translate-value-min="1">
                        This field should be more than 1.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="autopos.purchaseLine.rate" for="field_rate">Rate</label>
                <input type="number" class="form-control" name="rate" id="field_rate"
                       ng-model="$ctrl.purchaseLine.rate"
                       required min="0"/>
                <div ng-show="editForm.rate.$invalid">
                    <p class="help-block"
                       ng-show="editForm.rate.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.rate.$error.min" translate="entity.validation.min" translate-value-min="0">
                        This field should be more than 0.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.rate.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="autopos.purchaseLine.amount" for="field_amount">Amount</label>
                <input type="number" class="form-control" name="amount" id="field_amount"
                       ng-value="$ctrl.purchaseLine.rate * $ctrl.purchaseLine.quantity"
                       required min="0" readonly/>
                <div ng-show="editForm.amount.$invalid">
                    <p class="help-block"
                       ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.amount.$error.min" translate="entity.validation.min" translate-value-min="0">
                        This field should be more than 0.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" translate="autopos.purchaseLine.remarks" for="field_remarks">Remarks</label>
                <textarea type="text" class="form-control" name="remarks" id="field_remarks"
                          ng-model="$ctrl.purchaseLine.remarks"
                          ng-maxlength="250"></textarea>
                <div ng-show="editForm.remarks.$invalid">
                    <p class="help-block"
                       ng-show="editForm.remarks.$error.maxlength" translate="entity.validation.maxlength"
                       translate-value-max="250">
                        This field cannot be longer than 250 characters.
                    </p>
                </div>
            </div>

            <div ng-if="$ctrl.purchaseLine.id" class="form-group pull-left">
                <button type="reset" class="btn btn-danger" ng-click="$ctrl.deletePurchaseLine()">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                </button>
            </div>

            <div class="form-group pull-right">
                <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reset()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>

                <button ng-if="!$ctrl.purchaseLine.id"
                        type="submit" ng-disabled="editForm.$invalid || isSaving"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add Item</span>
                </button>

                <button ng-if="$ctrl.purchaseLine.id"
                        type="submit" ng-disabled="editForm.$invalid || isSaving"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>Accept</span>
                </button>
            </div>

        </form>
    </div>
</div>