<input type="text" ng-model="$ctrl.selectedItem"
       uib-typeahead="item as $ctrl.itemTitle(item) for item in $ctrl.searchItem($viewValue)"
       typeahead-min-length="2"
       typeahead-loading="loadingItems"
       typeahead-editable="false"
       typeahead-wait-ms="500"
       typeahead-no-results="noResults"
       typeahead-on-select="$ctrl.onItemSelect($item)"
       class="form-control">

<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>

<div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Items Found
</div>

<a ng-show="noResults" class="btn btn-primary pull-right" ng-click="$ctrl.createNewItem()">
    <span class="glyphicon glyphicon-plus"></span>
    <span translate="autopos.item.home.createLabel"> Create a new Item </span>
</a>
