<div>
    <div class="row">
        <div class="col-2">
            <h2>
                <span jhiTranslate="autoPosApp.item.home.title">Items</span>
            </h2>
        </div>
        <div class="col-8">
            <form class="form-inline float-right" (submit)="loadAll()">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="filter" [ngModelOptions]="{standalone: true}"
                               placeholder="Filter by name or code...">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2">
            <button class="btn btn-primary float-right create-item"
                    [routerLink]="['/', { outlets: { popup: ['item-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="autoPosApp.item.home.createLabel"> Create new Item </span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="items">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="code">
                    <span jhiTranslate="autoPosApp.item.code">Code</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="name">
                    <span jhiTranslate="autoPosApp.item.name">Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="partNumber">
                    <span>Part #</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="category.shortName">
                    <span jhiTranslate="autoPosApp.item.category">Category</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="brand.name">
                    <span jhiTranslate="autoPosApp.item.brand">Brand</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="markedPrice">
                    <span jhiTranslate="autoPosApp.item.markedPrice">Marked Price</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="quantity">
                    <span jhiTranslate="autoPosApp.item.quantity">Quantity</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <td><a [routerLink]="['../item', item.id ]">{{item.code}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.partNumber}}</td>
                <td>
                    <div *ngIf="item.category">
                        <a [routerLink]="['../category', item.category?.id ]">{{item.category?.shortName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="item.brand">
                        <a [routerLink]="['../brand', item.brand?.id ]">{{item.brand?.name}}</a>
                    </div>
                </td>
                <td>{{item.markedPrice}}</td>
                <td>{{item.quantity}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item', item.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="items && items.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
