<div>

    <div class="row">
        <div class="col-2">
            <h2>
                <span jhiTranslate="autoPosApp.item.home.title">Items</span>
            </h2>
        </div>
        <div class="col-8">
            <form class="form-inline float-right" (submit)="loadAll()">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               [(ngModel)]="filter" [ngModelOptions]="{standalone: true}"
                               placeholder="Filter by name">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2">
            <button class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/', { outlets: { popup: ['item-new'] } }]">
            <span class="fa fa-plus"></span>
                <span jhiTranslate="autoPosApp.item.home.createLabel"> Create new Item </span>
            </button>
        </div>
    </div>
    <apos-alert></apos-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="items">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="partNumber"><span>Part #</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category.shortName"><span>Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="brand.name"><span>Brand</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="markedPrice"><span>Marked Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <td><a [routerLink]="['../item', item.id ]">{{item.id}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.partNumber}}</td>
                <td>
                    <div *ngIf="item.category">
                        <a [routerLink]="['../category', item.category?.id ]" >{{item.category?.shortName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="item.brand">
                        <a [routerLink]="['../brand', item.brand?.id ]" >{{item.brand?.name}}</a>
                    </div>
                </td>
                <td>{{item.markedPrice}}</td>
                <td>{{item.quantity}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item', item.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="items && items.length">
            <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
