<ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link" routerLink="customer" routerLinkActive="active font-weight-bold">Customers</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="vehicle" routerLinkActive="active font-weight-bold">Vehicles</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="vendor" routerLinkActive="active font-weight-bold">Vendors</a>
    </li>

</ul>

<div class="card-block">
    <router-outlet></router-outlet>
</div>
