<div>
    <h2>
        <span jhiTranslate="autoPosApp.purchaseLine.home.title">Purchase Lines</span>
        <button class="btn btn-primary float-right create-purchase-line"
                [routerLink]="['/', { outlets: { popup: ['purchase-line-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="autoPosApp.purchaseLine.home.createLabel">
            Create new Purchase Line
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="purchaseLines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="quantity"><span jhiTranslate="autoPosApp.purchaseLine.quantity">Quantity</span> <span
                        class="fa fa-sort"></span></th>
                <th jhiSortBy="rate"><span jhiTranslate="autoPosApp.purchaseLine.rate">Rate</span> <span
                        class="fa fa-sort"></span></th>
                <th jhiSortBy="remarks"><span jhiTranslate="autoPosApp.purchaseLine.remarks">Remarks</span> <span
                        class="fa fa-sort"></span></th>
                <th jhiSortBy="purchase.id"><span jhiTranslate="autoPosApp.purchaseLine.purchase">Purchase</span> <span
                        class="fa fa-sort"></span></th>
                <th jhiSortBy="item.name"><span jhiTranslate="autoPosApp.purchaseLine.item">Item</span> <span
                        class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchaseLine of purchaseLines ;trackBy: trackId">
                <td><a [routerLink]="['../purchase-line', purchaseLine.id ]">{{purchaseLine.id}}</a></td>
                <td>{{purchaseLine.quantity}}</td>
                <td>{{purchaseLine.rate}}</td>
                <td>{{purchaseLine.remarks}}</td>
                <td>
                    <div *ngIf="purchaseLine.purchase">
                        <a [routerLink]="['../purchase', purchaseLine.purchase?.id ]">{{purchaseLine.purchase?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="purchaseLine.item">
                        <a [routerLink]="['../item', purchaseLine.item?.id ]">{{purchaseLine.item?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../purchase-line', purchaseLine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase-line/'+ purchaseLine.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase-line/'+ purchaseLine.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="purchaseLines && purchaseLines.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
