<div>
    <h2>
        <span jhiTranslate="autoPosApp.dayBookEntry.home.title">Day Book</span>
        <button class="btn btn-primary float-right create-day-book-entry" [routerLink]="['/', { outlets: { popup: ['day-book-entry-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="autoPosApp.dayBookEntry.home.createLabel">
            Create new Day Book Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dayBookEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="autoPosApp.dayBookEntry.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="incomingAmount"><span jhiTranslate="autoPosApp.dayBookEntry.incomingAmount">Incoming Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="outgoingAmount"><span jhiTranslate="autoPosApp.dayBookEntry.outgoingAmount">Outgoing Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="miscExpenses"><span jhiTranslate="autoPosApp.dayBookEntry.miscExpenses">Misc Expenses</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span jhiTranslate="autoPosApp.dayBookEntry.remarks">Remarks</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayBookEntry of dayBookEntries ;trackBy: trackId">
                <td><a [routerLink]="['../day-book-entry', dayBookEntry.id ]">{{dayBookEntry.id}}</a></td>
                <td>{{dayBookEntry.date | date:'mediumDate'}}</td>
                <td>{{dayBookEntry.incomingAmount}}</td>
                <td>{{dayBookEntry.outgoingAmount}}</td>
                <td>{{dayBookEntry.miscExpenses}}</td>
                <td>{{dayBookEntry.remarks}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../day-book-entry', dayBookEntry.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-book-entry/'+ dayBookEntry.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-book-entry/'+ dayBookEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="dayBookEntries && dayBookEntries.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
