
<div *ngIf="priceHistory">
    <h2><span jhiTranslate="autoPosApp.priceHistory.detail.title">Price History</span> {{priceHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="autoPosApp.priceHistory.date">Date</span></dt>
        <dd>
            <span>{{priceHistory.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="autoPosApp.priceHistory.markedPrice">Marked Price</span></dt>
        <dd>
            <span>{{priceHistory.markedPrice}}</span>
        </dd>
        <dt><span jhiTranslate="autoPosApp.priceHistory.remarks">Remarks</span></dt>
        <dd>
            <span>{{priceHistory.remarks}}</span>
        </dd>
        <dt><span jhiTranslate="autoPosApp.priceHistory.item">Item</span></dt>
        <dd>
            <div *ngIf="priceHistory.item">
                <a [routerLink]="['/item', priceHistory.item?.id]">{{priceHistory.item?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'price-history/'+ priceHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
