<div>
    <h2>
        <span jhiTranslate="autoPosApp.receipt.home.title">Receipts</span>
        <button class="btn btn-primary float-right jh-create-entity create-receipt" [routerLink]="['/', { outlets: { popup: ['receipt-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="autoPosApp.receipt.home.createLabel">
            Create new Receipt
            </span>
        </button>
    </h2>
    <apos-alert></apos-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="receipts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="autoPosApp.receipt.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receivedFrom.name"><span jhiTranslate="autoPosApp.receipt.receivedFrom">Received From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="autoPosApp.receipt.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptNumber"><span jhiTranslate="autoPosApp.receipt.receiptNumber">Receipt #</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receivedBy"><span jhiTranslate="autoPosApp.receipt.receivedBy">Received By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipt of receipts ;trackBy: trackId">
                <td><a [routerLink]="['../receipt', receipt.id ]">{{receipt.id}}</a></td>
                <td>{{receipt.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="receipt.receivedFrom">
                        <a [routerLink]="['../../party/customer', receipt.receivedFrom?.id ]">{{receipt.receivedFrom?.name}}</a>
                    </div>
                </td>
                <td>{{receipt.amount}}</td>
                <td>{{receipt.receiptNumber}}</td>
                <td>{{receipt.receivedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../receipt', receipt.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="receipts && receipts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
