<div>
    <h2 translate="autopos.receipt.home.title">Receipts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="receipt.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="autopos.receipt.home.createLabel">
                        Create new Receipt
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="autopos.receipt.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="autopos.receipt.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receivedBy"><span translate="autopos.receipt.receivedBy">ReceivedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remarks"><span translate="autopos.receipt.remarks">Remarks</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receivedFrom.name"><span translate="autopos.receipt.receivedFrom">receivedFrom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="receipt in vm.receipts track by receipt.id">
                    <td><a ui-sref="receipt-detail({id:receipt.id})">{{receipt.id}}</a></td>
                        <td>{{receipt.dateTime | date:'mediumDate'}}</td>
                    <td>{{receipt.amount}}</td>
                    <td>{{receipt.receivedBy}}</td>
                    <td>{{receipt.remarks}}</td>
                    <td>
                        <a ui-sref="customer-detail({id:receipt.receivedFrom.id})">{{receipt.receivedFrom.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="receipt-detail({id:receipt.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="receipt.edit({id:receipt.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="receipt.delete({id:receipt.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
