<div *ngIf="sale" class="row">

    <jhi-alert-error></jhi-alert-error>

    <div class="col-4">
        <div class="card">
            <h4 class="card-header"> Sale Entry </h4>
            <div class="card-block">
                <form name="saleLineEntryForm" role="form" novalidate #saleLineEntryForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="field_item">Item</label>
                        <input type="text" class="form-control" name="item" id="field_item"
                               [(ngModel)]="line.item" [ngbTypeahead]="search" [editable]="false" [resultFormatter]="itemFormatter"
                               (selectItem)="onLineItemSelect($event.item)"
                               [inputFormatter]="itemFormatter"
                               placeholder="Search" required/>
                        <span *ngIf="searching" class="fa fa-spinner"></span>

                        <div [hidden]="!(saleLineEntryForm.controls.item?.dirty && saleLineEntryForm.controls.item?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.item?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_quantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="field_quantity"
                               [(ngModel)]="line.quantity"
                               required min="0"/>
                        <div [hidden]="!(saleLineEntryForm.controls.quantity?.dirty && saleLineEntryForm.controls.quantity?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.quantity?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.quantity?.errors?.min" jhiTranslate="entity.validation.min"
                                   translateValues="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_rate">Rate</label>
                        <input type="number" class="form-control" name="rate" id="field_rate"
                               [(ngModel)]="line.rate"
                               required min="0" readonly/>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_amount">Amount</label>
                        <input type="number" class="form-control" name="amount" id="field_amount"
                               [(ngModel)]="line.amount"
                               required min="0" readonly/>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_buyer"> Buyer </label>
                        <input type="text" class="form-control" name="buyer" id="field_buyer"
                               [(ngModel)]="line.buyer"
                               maxlength="250"/>
                        <div [hidden]="!(saleLineEntryForm.controls.buyer?.dirty && saleLineEntryForm.controls.buyer?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.buyer?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_remarks">Remarks</label>
                        <textarea type="text" class="form-control" name="remarks" id="field_remarks"
                                  [(ngModel)]="line.remarks"
                                  maxlength="250">
                        </textarea>
                        <div [hidden]="!(saleLineEntryForm.controls.remarks?.dirty && saleLineEntryForm.controls.remarks?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!saleLineEntryForm.controls.remarks?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="float-left">
                            <button type="reset" class="btn btn-default"
                                    [disabled] = "!line.id" (click)="deleteSaleLine()">
                                <span class="fa fa-trash"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                        <div class="float-right">
                            <button type="reset" class="btn btn-default" (click)="resetLineItem()">
                                <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" class="btn btn-success"
                                    [disabled]="saleLineEntryForm.form.invalid" (click)="onLineItemSubmit()">
                                <span class="fa" [ngClass]="{'fa-plus-circle': !line.id, 'fa-check': line.id}"></span>
                                &nbsp;<span>{{ line.id ? 'Accept' : 'Add Item' }}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <h4 class="card-header"> Sale # {{sale.id}} </h4>

            <div class="card-block">

                <form name="saleDetailForm" role="form" novalidate #saleDetailForm="ngForm">
                    <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="date" name="date"
                                   [value]="sale.date| date:'yyyy-MM-dd'" (input)="sale.date=$event.target.valueAsDate"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="field_vehicle">Vehicle</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="vehicle" id="field_vehicle"
                                   [(ngModel)]="sale.vehicle" [ngbTypeahead]="searchVehicle" [editable]="false" [resultFormatter]="vehicleFormatter"
                                   [inputFormatter]="vehicleFormatter"
                                   placeholder="Search"/>
                            <span *ngIf="searchingVehicle" class="fa fa-spinner"></span>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="!sale.vehicle">
                        <label for="buyer" class="col-sm-2 col-form-label">Buyer</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="buyer" name="buyer" [(ngModel)]="sale.buyer">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="invoiceNumber" class="col-sm-2 col-form-label">Invoice #</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" [(ngModel)]="sale.invoiceNumber">
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Particular</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let line of sale.lines; let i = index" [attr.data-index]="i" (click)="editSaleLine(line)">
                            <td>{{i + 1}}</td>
                            <td>{{line.item.code}}</td>
                            <td>{{line.item.name}}</td>
                            <td>{{line.quantity}}</td>
                            <td>{{line.rate}}</td>
                            <td>{{line.amount}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-6 offset-sm-6">
                            <div class="form-group row">
                                <label for="subTotal" class="col-sm-6 col-form-label">Sub Total</label>
                                <div class="col-sm-6">
                                    <input type="number" [value]="subTotal" class="form-control"
                                           id="subTotal" name="subTotal" placeholder="0.00" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="discount" class="col-sm-6 col-form-label">Discount</label>
                                <div class="col-sm-6">
                                    <input type="number" [(ngModel)]="sale.discount" class="form-control"
                                           id="discount" name="discount" placeholder="0.00">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="grandTotal" class="col-sm-6 col-form-label">Grand Total</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="grandTotal" name="grandTotal" [value]="total"
                                           placeholder="0.00" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="status" class="col-sm-6 col-form-label">Status</label>
                                <div class="col-sm-6">
                                    <select id="status" name="status" class="form-control"
                                            [(ngModel)]="sale.status" required="true">
                                        <option value="PENDING">Pending</option>
                                        <option value="COMPLETED">Completed</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <div class="float-left">
                                <button type="reset" class="btn btn-danger"
                                        [disabled]="hasLines"
                                        [attr.title]="hasLines ? 'Cannot delete sale with sale items': 'Delete Sale'"
                                        (click)="deleteSale()">
                                    <span class="fa fa-trash"></span>&nbsp;<span>Delete</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <div class="float-right">
                                <button type="reset" class="btn btn-default" (click)="previousState()">
                                    <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-success" (click)="updateSale()">
                                    <span class="fa fa-check"></span>&nbsp;<span>Accept</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
