<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id">
                        <span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="buyer">
                        <span>Buyer</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="grandTotal">
                        <span>Grand Total</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="date">
                        <span>Date</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th jh-sort-by="lastModifiedDate">
                        <span>Last Modified</span> <span class="glyphicon glyphicon-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sale in vm.sales track by sale.id">
                    <td><a ui-sref="sales.detail({id:sale.id})">{{sale.id}}</a></td>
                    <td>{{sale.buyer}}</td>
                    <td>{{sale.grandTotal}}</td>
                    <td>{{sale.date | date:'medium'}}</td>
                    <td>{{sale.lastModifiedDate | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
