<div>
    <h2 translate="autoposApp.dayBookEntry.home.title">DayBookEntrys</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dayBookEntry.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="autoposApp.dayBookEntry.home.createLabel">Create new DayBookEntry
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="autoposApp.dayBookEntry.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="incomingAmount"><span translate="autoposApp.dayBookEntry.incomingAmount">IncomingAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="outgoingAmount"><span translate="autoposApp.dayBookEntry.outgoingAmount">OutgoingAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="miscExpenses"><span translate="autoposApp.dayBookEntry.miscExpenses">MiscExpenses</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dayBookEntry in dayBookEntrys track by dayBookEntry.id">
                    <td><a ui-sref="dayBookEntry.detail({id:dayBookEntry.id})">{{dayBookEntry.id}}</a></td>
                        <td>{{dayBookEntry.date | date:'mediumDate'}}</td>
                    <td>{{dayBookEntry.incomingAmount}}</td>
                    <td>{{dayBookEntry.outgoingAmount}}</td>
                    <td>{{dayBookEntry.miscExpenses}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dayBookEntry.detail({id:dayBookEntry.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dayBookEntry.edit({id:dayBookEntry.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dayBookEntry.delete({id:dayBookEntry.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
