<div>
    <h2 translate="autopos.billItem.home.title">BillItems</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="billItem.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="autopos.billItem.home.createLabel">Create new BillItem
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span translate="autopos.billItem.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span translate="autopos.billItem.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="autopos.billItem.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="autopos.billItem.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remarks"><span translate="autopos.billItem.remarks">Remarks</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="issuedBy"><span translate="autopos.billItem.issuedBy">IssuedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="particular.name"><span translate="autopos.billItem.particular">particular</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bill.id"><span translate="autopos.billItem.bill">bill</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="billItem in billItems track by billItem.id">
                    <td><a ui-sref="billItem.detail({id:billItem.id})">{{billItem.id}}</a></td>
                    <td>{{billItem.quantity}}</td>
                    <td>{{billItem.rate}}</td>
                    <td>{{billItem.amount}}</td>
                    <td>{{billItem.date | date:'medium'}}</td>
                    <td>{{billItem.remarks}}</td>
                    <td>{{billItem.issuedBy}}</td>
                    <td>
                        <a ui-sref="item.detail({id:billItem.particular.id})">{{billItem.particular.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="bill.detail({id:billItem.bill.id})">{{billItem.bill.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="billItem.detail({id:billItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="billItem.edit({id:billItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="billItem.delete({id:billItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
