<div>
    <h2 translate="autopos.vehicle.home.title">Vehicles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vehicle.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="autopos.vehicle.home.createLabel">
                        Create new Vehicle
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span translate="autopos.vehicle.number">Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remarks"><span translate="autopos.vehicle.remarks">Remarks</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.name"><span translate="autopos.vehicle.owner">owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicle in vm.vehicles track by vehicle.id">
                    <td><a ui-sref="vehicle-detail({id:vehicle.id})">{{vehicle.id}}</a></td>
                    <td>{{vehicle.number}}</td>
                    <td>{{vehicle.remarks}}</td>
                    <td>
                        <a ui-sref="customer-detail({id:vehicle.owner.id})">{{vehicle.owner.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vehicle-detail({id:vehicle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicle.edit({id:vehicle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vehicle.delete({id:vehicle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
